---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    font-family: Helvetica, Arial, sans-serif;
}

.site-title{ 
    font-size: 0px;
    background: url("/assets/logo-light.png");
    background-size: 100%;
    display: block;
    width: 250px;
    height: 40px;
    position: relative;
    top: 10px;
}

a.button {
    background: #EF233C;
    color: white;
    padding: 7px;
}

a.button::after{
    content: '→';
    position: relative;
}

h2 {
    font-weight: bold;
    letter-spacing: -0.5px;
}
    
.home blockquote{
    background: #EEE;
    color: #000;
    padding: 20px;
    font-size: 24px;
    font-style: none;
}
